<div class="container">
    
    <ul>
        <li>
           <h1>About</h1> 
        </li>
        <li><img [src]="imagePath" alt=""></li>
    </ul>
    
    
        <ul>
            <li>
            <div class="info_card">
                <div class="row_header" ><p ><span>About</span></p></div>
                <div class="row_item"><p>This is a player listing app for rpg playing sessions. <br> Coding  and images by Laura Uimonen (Lux).</p></div>
                <div class="row_item"><p>Made with:</p></div>
                <div class="row_item"><p><a href="https://angular.io/" target="_blank">Angular 14</a></p></div>
                <div class="row_item"><p><a href="https://github.com/typicode/json-server" target="_blank">JSON Server</a></p></div>
                <div class="row_item"><p><a href="https://krita.org/en/" target="_blank">Krita</a></p></div>
                <div class="row_item"><p>With the help of:</p></div>
                <div class="row_item"><p><a href="https://www.youtube.com/watch?v=5wtnKulcquA&t=3s" target="_blank">DesignCourse</a> & <a href="https://www.youtube.com/watch?v=3dHNOWTI7H8" target="_blank">Traversy Media</a> </p></div>
            </div>
            </li>

            <li>
                <div class="info_card">
                    <div class="row_header" ><p ><span>Rules</span></p></div>
                    <div class="row_item"><p>List your game session rules here.</p></div>
                </div>
            </li>
        </ul>  
    </div>


